{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>URL</th>
        <th>Последняя проверка</th>
        <th>Дата добавления</th>
      </tr>
    </thead>
    <tbody>
      {% for url in urls %}
        <tr>
          <td>{{ url[0] }}</td>
          <td><a href="{{ url_for('url_detail', id=url[0]) }}">{{ url[1] }}</a></td>
          <td>{{ url[3].strftime('%Y-%m-%d %H:%M') if url[3] else '' }}</td>
          <td>{{ url[2].strftime('%Y-%m-%d %H:%M') }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}